* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-image: url('calc.jpg');
  background-size: cover;
}

.calculator {
  background-color: white;
  font-size: 40px;
  width: 320px;
  height: 520px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 15px 5px #000000;
}

.display {
  width: 100%;
  height: 100px;
  padding-right: 20px;
  font-size: 80px;
  background-color: #1c191c;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.keypad {
  width: 100%;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
}

.calculator_functions, .calculator_number, .calculator_dot {
  width: 25%;
  height: 20%;
  cursor: pointer;
  text-align: center;
  line-height: 75px;
  border: 1px solid black;
}

.calculator_functions {
  color: white;
  background-color: rgb(237, 129, 21);
}

.calculator_functions:hover {
  background-color: #bf5500;
}

.calculator_number:hover, .calculator_dot:hover {
  background-color: #9e9995;
}

#key-0 {
  width: 50%;
}

#key-clear {
  width: 50%;
}